.Header {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: normal;
    font-size: calc(25px + 2vmin);
    font-weight: bold;
    font-family: serif;
    color: white;
  }